.rows {
  width: 100%;
  margin-left: -20px;
  padding: 20px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}

.rows::-webkit-scrollbar {
  display: none;
}

.row {
  width: 100%;
  margin-right: 20px;
  cursor: pointer;
}

.row .row__poster {
  object-fit: contain;
  width: auto;
  max-height: 100px;
  transition: transform 450ms;
}

.row .row__poster:hover {
  transform: scale(1.08);
}

.row .row__posterLarge {
  max-height: 250px;
}

.row .row__posterLarge:hover {
  transform: scale(1.09);
}
