.rows {
  width: 100%;
  margin-left: -20px;
  padding: 20px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}

.rows::-webkit-scrollbar {
  display: none;
}

.rows a {
  color: var(--secondaryText) !important;
}

.row {
  width: 100%;
  height: max-content;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.row .row__title {
  position: absolute;
  bottom: 5px;
  left: 0;
  background: var(--cardBg);
  padding: 0.3em;
  color: var(--primaryText);
  transition: transform 450ms;
}

.row .row__poster {
  object-fit: contain;
  width: auto;
  max-height: 100px;
  transition: transform 450ms;
}

.row .row__poster:hover > .row::before {
  width: 100%;
  height: 100%;
}

.row::before {
  content: "";
  width: 0;
  height: 0;
  background: linear-gradient(
    0deg,
    rgb(2, 0, 36) 0%,
    rgba(157, 11, 11, 0.2) 50%,
    rgba(235, 130, 66, 0.15) 100%
  );
  position: absolute;
}

.row .row__posterLarge {
  max-height: 250px;
}

.row .row__posterLarge:hover {
  transform: scale(1.09);
}
